GraphicsPipeline(
    shaders: {
        Vertex: (
            path: "software_voxel/software_voxel_mesh_render.spv",
            entry_point: "vertexMain",
        ),
        Fragment: (
            path: "software_voxel/software_voxel_mesh_render.spv",
            entry_point: "fragmentMain",
        ),
    },
    layout: Bindless,
    vertex_bindings: {},
    attachments: [
        (
            blend_enable: false,
            format: B8G8R8A8_SRGB,
        )
    ],
    depth_write_enable: true,
    depth_test_enable: true,
    depth_format: D32_SFLOAT,
    depth_compare_enabled: true,
    depth_compare_op: "<"
)
