ComputePipeline(
    shader: (
        path: "software_voxel/software_voxel_depth_pyramid.spv",
        entry_point: "main",
    ),
    layout: Bindless,
    disable_optimization: false,
    dispatch_base: false,
)
